
.script1{
    padding: 0px 0px 0px 0px; 
    text-align: center;
    background-color: orange;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 30%;
}

.script2{
    padding: 0px 0px 0px 0px; 
    text-align: center;
    background-color: #9e9e9e;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 50%;
}
